<!DOCTYPE html>
<html xmlns:th=" http://www.thymeleaf.org" />

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Shop Item - Start Bootstrap Template</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link th:href="@{/css/shop-item.css}" rel="stylesheet" type="text/css">
<!-- Bootstrap core JavaScript -->

<script type="text/javascript" th:src="@{/js/jquery-3.5.0.min.js}"></script>
<script type="text/css"
	th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script>
var b_num =  location.href.split("/")[4];
function listReply(b_num){
	$.ajax({
		url : '/reply/' + b_num,
		type : 'GET',
		dataType : 'json',
		success : function(data){
			var mydata = data.data;
			var str = "<ul style='list-style-type:none'>";
			for(var i = 0 ; i < mydata.length ; i++){
				var date = mydata[i].r_date
                var sysdate = date.substring(0,10).replace(/-/gi, "/");
				str += "<li>";
				str += "<div id=  " +mydata[i].r_num+ ">"; 
				str += "<p>작성자 : " + mydata[i].m_userid + "<br />";
				//var now = new Date(mydata[i].r_date)now.toLocaleString();
				str += "작성날짜 : " + sysdate + "</p>";
				str += "<p>" + mydata[i].r_comment + "</p>";
				
				str += "<div style='text-align: right;'>";
				str +="<a class='btn btn-info' id='review_delete' onclick='de(this)'>삭제</a>"
				str +="</div>";
				str +="</div>";
				str += "</li>";
				str += "<hr style='width:600px;'/>"
				
			}
			str += "</ul>";
			$('#replylist').html(str);
		}
	});  
} 



	function de(b){
	    var r_num = b.parentNode.parentNode.getAttribute("id");
	    //var token = $("meta[name='_csrf']").attr("content");
		//var header = $("meta[name='_csrf_header']").attr("content");
	        $.ajax({
	        url: "/reply/" + r_num,
	        type: "DELETE",
	        dataType: "json",
	     /*    beforeSend: function(xhr){
							xhr.setRequestHeader(header,token);
						}, */
	        success: function (data) {  //서버로부터 받은 데이터
	            alert("삭제 되었습니다.")
	            listReply(b_num);
	        },
	        error: function (request, status, error) {
	          alert("code = " + request.tatus);
	          alert("message = " + request.responseText);
	          alert("error = " + error);
	        }
	      });
	  }
	 
	
	
 	$(function(){
 		var m_userid = $("#m_userid").text();
		
		 
		listReply(b_num);
		
	 /*    function listReply(b_num){
	         $.ajax({
	            url : '/reply/' + b_num,
	            type : 'GET',
	            dataType : 'json',
	            success : function(data){
	               var mydata = data.data;
	               var str = "";
	               for(var i = 0 ; i < mydata.length ; i++){
	                  var date = mydata[i].r_date
	                  var sysdate = date.substring(0,10).replace(/-/gi, "/");
	                  str += "<h4 "+ mydata[i].r_num + "/>"
	                  //str += "<p>작성자 : " + mydata[i].m_userid + "<br />";
	                  //var now = new Date(mydata[i].r_date)now.toLocaleString();
	                  //str += "작성날짜 : " + sysdate + "</p>";
	                  str += "<p>" + mydata[i].r_comment + "</p>";
	                  str += "<small class='text-muted'>작성자:"+ mydata[i].m_userid +"  on  "+sysdate+"</small>";
	                  str += "<div style='text-align: right;'>";
	                  str += "<a class='btn btn-info' id='review_delete' >삭제</a>";
	                  str +="</div>";
	                  str +="</div>";
	                  str += "<hr style='width:600px;'/>"
	                  
	               }
	               
	               $('#replylist').html(str);
	            }
	         });  
	      }  
	       */
	  


		
		/* $.ajax({
			url : '/board/' + b_num,
			type : 'GET',
			dataType : 'json',
			success : function(datas){
				
		
			},
		 error: function (request, status, error) {
		          alert("code = " + request.status);
		          alert("message = " + request.responseText);
		          alert("error = " + error);
		        } 
		}); */ 
		$('#replyBtn').bind("click", function(){
		
			if(!$('#r_comment').val()){
				alert("댓글의 내용이 없습니다.");
				$('#r_comment').focus();
				return false;
			}
			$.ajax({
				url : '/reply',
				type : 'POST', // 서버로 보내는 데이터
				contentType : 'application/json;charset=utf-8',
				data : JSON.stringify({
					"m_userid" : m_userid,
					"r_comment" : $('#r_comment').val(),
					"b_num" : b_num
				}),
				success : function(data){
					alert('댓글 등록!');
					$('#m_userid').val("");
					$('#r_comment').val("");
					listReply(b_num);
				}
			});
		});
		 $("#next").bind("click", function() {
			
			  window.location.href ='/board/'+next;
	      }); 
		 $("#prev").bind("click", function() {
			 var prev =parseInt(b_num)-1;
			  window.location.href ='/board/'+b_num;
	      }); 
		
	 	 $("#updateBtn").bind("click", function() {
			  window.location.href ='/update/'+b_num
	      }); 
		$("#deleteBtn").bind("click", function() {
			  window.location.href ='/delete/'+b_num
	      });
		
	}); 


/* 	$(document).ready(function(){

		listReply(b_num);

	});
 */



</script>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Daiso Review Sharing</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/board}">Board</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" onclick="document.getElementById('logout').submit();">Logout</a>
          </li>
				</ul>
			</div>
		</div>
	</nav>




	<!-- Page Content -->
	<div class="container">
  
<form id="logout" action="/logout" method="POST">
   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>


		<div class="row">

			<div class="col-lg-3">
				<h1 class="my-4">Category</h1>
				<div class="list-group">
					<a href="#" id="prev" class="list-group-item active">이전글</a> 
					<a href="#" id="next"  class="list-group-item">다음글</a>
					 <a class="list-group-item" th:href="@{/board}">목록보기</a>
				</div>
			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">

				<div class="card mt-4">
					<img th:src="'/' + ${board.p_img}" width="800" height="500">
					<div class="card-body">
						<h5 th:text="'No. ' + ${board.b_num}"></h5>
						<divclass-"card-title">
								<h4 th:text="'제목: ' +${board.b_title}"></h4>
							</div>
					<p th:text=" ${board.b_writing}"></p>
             <h4 th:text="'price : ' + ${board.p_price}"></h4> 
           <small th:text="'아이디 : ' + ${board.m_userid}"></small>
							 <small th:text=" '작성일 : ' + ${board.b_date}"> </small>
        </div>
        <!-- /.card -->
        <div class="card card-outline-secondary my-4">
          <div class="card-header"> 댓글 </div>
          <div class="card-body">
        <!--    <small th:text="'아이디 : ' + ${board.m_userid}" ></small> -->
      

	<h5>아이디: <span id="m_userid" name="m_userid" sec:authentication="principal.username" > 
         	
         </span></h5>
        
            <textarea style="width: 780px" rows="3" cols="30" id="r_comment" name="r_comment" placeholder="댓글을 입력하세요"></textarea>
            <small class="text-muted" id="b_date" name="b_date">  <div style="text-align: right;"> <a href="#" id="replyBtn" class="btn btn-primary">등록</a></small></div>
            <hr>
          </div>
           <div id="replylist"></div>
          <div style="text-align: right;"> 
          <br>
    	 <a href="#" id="deleteBtn" class="btn btn-info" >삭제</a>
        <a href="#" id="updateBtn" class="btn btn-success">수정</a></li>
        </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2020</p>
		</div>
		<!-- /.container -->
	</footer>



</body>

</html>
